<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>Lista de estudiantes</h1>

    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Nota</th>
        </tr>

        {{#each estudiantes}}
        <tr>
            <td>{{nombre}}</td>
            
            {{#if (grado 15)}}
                <td style="color: green;"><strong>{{grado}}</strong></td>
            {{else}}
                <td>{{grado}}</td>
            {{/if}}

        </tr>
        {{/each}}
    </table>

    <a href="/">Volver</a>
</body>
</html>